@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-cursive: 'Dancing Script', cursive;

  --color-warm-100: #fcfaf9;
  --color-warm-200: #f7f3f0;
  --color-cream: #FFFDD0;

  --animate-float: float 6s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@layer base {
  body {
    @apply bg-rose-50 text-gray-800 antialiased;
  }
}